@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

header{
    border-top: 12px solid #5CE6CD;
    background-color: #F4F4F4;
}

.roboto-condensed{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.span-roboto-condensed{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 100%;
    font-weight: 400;
    font-style: normal;
}
.general-box{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
    padding: 2rem 0 7rem 0;
}

.general-box > .item:nth-child(1){
    min-width: 25rem;
    width: 40rem;
}
.general-box > .item:nth-child(2){
    min-width: 25rem;
    width: 30rem;
    max-width: 100rem;
}

.dinamic-box{
    border: 1px solid #C0C0C0;

}

.box{
    border: 1px solid #C0C0C0;
    padding: 8px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box > button{
    width: 100%;
    height: 3rem;
    border: none;
    color: #F4F4F4;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    background-color: #00b6bd;
}
.box > button:hover{
    width: 100%;
    font-weight: bold;
    background-color: #00e3eb;
}

.text-no-content{
    padding: 8rem 0 8rem 0;
}

.task-buttons-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-buttons-box > button {
    padding: 0;
    text-align: center;
    border: 0;
    background-color: inherit;
}

.task-buttons-box > button > img {
    width: 2rem;
    height: 2rem;

}

.task{
    border: 1px solid #C0C0C0;
    width: 108%;
    margin-bottom: 0.4rem;
    padding: 0;
}

.task2{
    border: 1px solid #C0C0C0;
    width: 98%;
    margin-bottom: 0.4rem;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.task2 > div {
    position: relative;
}

.info-task{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}


.span-date{
    font-weight: 400;
}

.span-status-pendente{
    color: #7ED957;
} 
.span-status-atrasado {
    color: #FF3131;
}

.span-status-concluded {
    color: #00ddec;
}





#dayClicked {
    display: block;
    width: 100%;
    height: 100rem;
    background-color: #009ba0;
    color: white;
    font-weight: 800;
    margin-bottom: 3rem;
    
}

#dayClicked > section {
    padding: 10px;
    background-color: #C0C0C0;
    color: black;
    font-weight: 300;

}

#dayClicked > section > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    row-gap: 10px;
}

#dayClicked > section > div > label {
    width: 3rem;
    text-align: justify;
}



.inputs-add {
    margin-top: -0.7rem ;
    height: 1.5rem;
    border: none;
}

.inputs-add:hover{
    border: none;

}

#taskAddButton{
    background-color: #009ba0;
    width: 100%;
    border-radius: 10px 10px 10px;
    padding: 10px;
    height: 4.5rem;
    margin:1rem 0px 0.5rem 0;
    border: none;

}

#taskAddButton:hover{
    background-color: #00f7ff;
    font-weight: bold;
    transition: 0.2s;
}



#calendar-container {
    width: auto;
    height: 100%;
    padding: 10px;
    font-family: Arial, sans-serif;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#calendar-header button {
    background-color: #009ba0;
    color: white;
    border: none;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    border-radius: 3px;
    
}

#calendar-header button:hover {
    background-color: #00f7ff;
}

#monthYear {
    font-weight: bold;
    font-size: 16px;
}

#calendar-weekdays {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    margin-bottom: 10px;
}

#calendar-weekdays div, #calendar-days div {
    width: 14.2857%;
    height: 4rem;
    text-align: center;

}

#calendar-weekdays div {
    height: auto;
}

#calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.dayLated{
    background-color: #d6d6d6;
    border: 0.5px solid #cccccc;
    color: #ffffff;
    font-weight: bold

}
.dayNormal {
    border: 0.5px solid #cccccc;
}
.dayNormal:hover{
    border: 0.5px solid #03d9ff;
    background-color: #00fff294;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold
}

footer{
    background-color: #009ca1;
    height: 10rem;
    width: 100%;
}

.redHover:hover{
    border: 2px solid #ce0000;
    object-fit: cover; 
}

.cianHover:hover{
    border: 2px solid #00f7ff;
    object-fit: cover; 
}

.greenHover:hover{
    border: 2px solid #00ff40;
    object-fit: cover; 
}

.seeTask{
    background-color: #000000;
    margin-left: 1rem;
    color: #ffffff;
    height: 1.2rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 2px 2px 2px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-weight: 500;

}

.seeTask:hover {
    background-color: #009ba0;
    color: #ffffff;
    transition: 0.3s;
}

#link_eagleschat{
    padding: 15px;
    border-radius: 100%;
    position: fixed;
    z-index: 1100;
    bottom: 5%;
    left: 80%;
    background-color:#00b1b8;
    border: 7px solid #00e3eb;
}

#link_comments{
    padding: 15px;
    border-radius: 100%;
    position: fixed;
    z-index: 1100;
    bottom: 5%;
    left: 87%;
    background-color:#00b1b8;
    border: 7px solid #00e3eb;
}

#link_comments > img, #link_eagleschat > img {
    width: 3rem;
}
#link_comments:hover, #link_eagleschat:hover{
    transition: 0.3s;
    border: 7px solid #009ba0;
    background-color: #00e3eb;

}

.closeposter {
    display: -webkit-box; 
    -webkit-line-clamp: 4; 
    overflow: hidden; 
    -webkit-box-orient: vertical;
}

.spn-number-of-elements {
    background-color: #000000;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    user-select: none;
    margin-left: 5px;
    padding: 2px;
    color: white;
    font-size: 0.7rem;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: 1/1;
    width: 25px;
    height: 25px; 
    border-radius: 50%;
}

.spn-number-of-elements:nth-child(2) {
    background-color: #00b6adcc;
    width: 20px;
    height: 20px; 
}

#historic {
    max-height: 18rem;
    overflow-y: auto;
}


.dialogBox {
    position: fixed;
    top:0.55rem;
    display: none;
    width: 50vw;
    min-height: 60vh;
    height: auto;
    background-color: #f0f0f0;
    margin: 7vh 25vw 8vh 25vw;
    border-radius: 3px 3px 3px;
    box-shadow: 0px 0px 10px #9e9e9e;
    z-index: 1000;
    padding: 20px;

}



.config-display-dialog{
    height: auto;
    width: 100%;
    
}

.config-display-dialog:nth-child(2) {
    padding-bottom: 7rem;
}


.div-btns-dialog {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.btn-save-dialog {
    width: 100%;
    padding: 10px;
    border-radius: none;
    border: 1px solid #777777;
    color: #777777;
    font-family: 'Roboto condensed', Arial, serif;
    border-bottom: none;
    font-size: 1em;
    font-weight: 600;
}

.btn-save-dialog:hover {
    background-color: #00b1b8;
    color: #ffffff;
    transition: 0.2s;
}


.btn-close-dialog {
    width: 100%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #777777;
    color: #777777;
    font-family: 'Roboto condensed', Arial, serif;
    font-size: 1em;
    font-weight: 600;
}

.btn-close-dialog:hover {
    background-color: #aa1400;
    color: #ffffff;
    transition: 0.2s;
}


.blocked {
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
}


input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    left: 0.5rem;
    width: 18em;
    height: 0.5em;
    position: relative;
    border-radius: 5px;
    background-color: #12e3ff;
    outline: none;
}

input[type=range]::-webkit-slider-thumb{
    border-radius: 50%;
}

#task-urgency::-webkit-slider-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: blue;
}

.label-ipt {
    padding: 10px 0 10px 0;
}

.label-ipt > label {
    font-size: 0.7rem;
    position: absolute;
    z-index: 999;
    margin-top: -7px;
    font-weight: 500;
    margin-left: 5px;
    font-family: 'Roboto condensed';



}

.label-ipt > input {
    font-size: 1rem;
    font-family: 'Roboto condensed';
    position: relative;
    left: 0;
    border-radius: 7px;
    padding: 30px 4px 20px 4px;
    width: 15rem;
}

.label-ipt > input::placeholder {
    font-size: 0.8rem;
    font-style: italic;
}

.disp-flex-inpt {
    gap: 10px;
    max-width: 400px;
}

.disp-flex-inpt > div:nth-child(2) > input {
    width: auto;
}

.input-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    min-height: 40px;
    max-width: 400px;
    position: relative; 
    z-index: 1000;
    font-family: 'Roboto condensed';
}

.chip {
    display: flex;
    align-items: center;
    background-color: #e1ecf4;
    color: #009fb4;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 2px;
    font-size: 14px;
}

.chip .remove {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.chip .remove:hover {
    color: red;
}

.input-container input {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
    flex-grow: 1;
    min-width: 100px;
    
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #0078d4;
    color: white;
}

#dropzone {
    width: 100%;
    height: 150px;
    border: 1px dashed #949494;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #777777;
    font-family: 'Roboto condensed', Arial, sans-serif;
    cursor: pointer;
}

#dropzone.dragover {
    background-color: rgba(0, 123, 255, 0.1);
}

#fileInput {
    display: none; 
}

#fileList {
    margin-top: 10px;
}

.commits-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #9e9e9e;
    border-bottom: none;
    font-family: 'Roboto condensed', Arial, sans-serif;
}

.commits-box > div {
    display: flex;
    flex-direction: row;
    height: auto;
    border-bottom: 1px solid #9e9e9e;
}


.commit > div:nth-child(1) {
    width: 75%;
}
.commit > div:nth-child(2){
    width: 25%;

}

.commit-message {
    display: flex;
    align-items: center;
    justify-content: start;
    height: inherit;
    padding: 10px 0 10px 20px;
}

.commit-message > p {
    margin: 0;
    text-overflow: ellipsis;
}


.commit-date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
    height: inherit;
    border-left: 1px solid #9e9e9e;
}
.commit-date-items {
    position: relative;
    width: 100%;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;
}

.dropzone-commit-box {
    border: 1px solid #00dce4;
    padding: 20px;
    display: none;
    flex-direction: column;
    row-gap: 10px;
}

.dropzone-commit-box > button {
    width: 100%;
    height: 2rem;
    border: 1px solid #00ddec;
    border-radius: 10px;
    background-color: inherit;
    font-family: 'Roboto condensed', Arial, sans-serif;
    
}

.dropzone-commit-box > textarea {
    font-family: 'Roboto condensed', Arial, sans-serif;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.dropzone-commit-box > button:hover {
    background-color: #00ddec;
    color: white;
    font-weight: 600;
    transition: 0.4s;
}
