@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

header{
    border-top: 12px solid #5CE6CD;
    background-color: #F4F4F4;
}

.roboto-condensed{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.span-roboto-condensed{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
}

.box{
    border: 1px solid #C0C0C0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box > button{
    width: 100%;
    height: 3rem;
    border: none;
    color: #F4F4F4;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    background-color: #00b6bd;
}
.box > button:hover{
    width: 100%;
    font-weight: bold;
    background-color: #00e3eb;
}

.text-no-content{
    padding: 8rem 0 8rem 0;
}

textarea {
    border: none;
    padding: 30px;

}

textarea::placeholder{
    text-align: center;
    line-height: 12rem;
    font-size: 22;
    font-style: italic;
}

.dinamic-box{
    border: 1px solid #C0C0C0;
    display: flex;
    justify-content: center;
}

#dinamic-items-next{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.task-buttons-box{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.task-buttons-box > button {
    padding: 0;
    text-align: center;
    border: 0;
    background-color: inherit;
}

.task-buttons-box > button > img {
    width: 2rem;
    height: 2rem;

}

.task{
    border: 1px solid #C0C0C0;
    width: 108%;
    margin-bottom: 0.4rem;
    padding: 0;
}

.info-task{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

.span-date{
    font-weight: 400;
}

.span-status-pendente{
    color: #7ED957;
} 
.span-status-atrasado {
    color: #FF3131;
}




#dayClicked {
    display: block;
    width: 100%;
    height: 100rem;
    background-color: #009ba0;
    color: white;
    font-weight: 800;
    margin-bottom: 3rem;
    
}

#dayClicked > section {
    padding: 10px;
    background-color: #C0C0C0;
    color: black;
    font-weight: 300;

}

#dayClicked > section > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    row-gap: 10px;
}

#dayClicked > section > div > label {
    width: 3rem;
    text-align: justify;
}


.inputs-add {
    margin-top: -0.7rem ;
    height: 1.5rem;
    border: none;
}

.inputs-add:hover{
    border: none;

}

#taskAddButton{
    background-color: #009ba0;
    width: 100%;
    border-radius: 10px 10px 10px;
    padding: 10px;
    height: 4.5rem;
    margin:1rem 0px 0.5rem 0;
    border: none;

}

#taskAddButton:hover{
    background-color: #00f7ff;
    font-weight: bold;
    transition: 0.2s;
}



#calendar-container {
    width: auto;
    height: 100%;
    padding: 10px;
    font-family: Arial, sans-serif;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#calendar-header button {
    background-color: #009ba0;
    color: white;
    border: none;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    border-radius: 3px;
    
}

#calendar-header button:hover {
    background-color: #00f7ff;
}

#monthYear {
    font-weight: bold;
    font-size: 16px;
}

#calendar-weekdays {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    margin-bottom: 10px;
}

#calendar-weekdays div, #calendar-days div {
    width: 14.2857%;
    height: 4rem;
    text-align: center;
}

#calendar-days {
    display: flex;
    flex-wrap: wrap;
}

#calendar-days > div:hover{
    border: 0.5px solid #00ffea;
    cursor: pointer;
}

